.camera-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
}

.camera-left-picture,
.camera-left {
  width: 64vw; /* Laissez de l'espace pour la nouvelle colonne à droite */
  height: 100vh;
  display: flex;
  justify-content: flex-start; /* Utilisez flex-start pour aligner à gauche */
  align-items: center;
  position: fixed; /* Utilisez 'fixed' pour fixer l'élément à la vue */
  background-color: black;
  overflow: hidden;
  top: 0; /* Fixer en haut */
  left: 0; /* Fixer à gauche */
  margin: 0; /* S'assurer qu'il n'y a pas de marge */
  padding: 0; /* S'assurer qu'il n'y a pas de padding */
  box-sizing: border-box; /* Inclure le padding et la bordure dans les dimensions totales */
}

.camera-left-picture {
  opacity: 0.20;
}

.porte-column {
  width: 36vw; /* Largeur de la colonne */
  height: 100vh; /* Hauteur de la colonne */
  display: flex;
  flex-direction: column; /* Flex-direction en colonne */
  justify-content: center; /* Centrer verticalement le contenu */
  align-items: center; /* Centrer horizontalement le contenu */
  background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
  position: fixed; /* Position fixe pour coller à la gauche de l'écran */
  right: 0; /* Aligné à gauche */
}

.porte-column div {
  color: white;
  font-size: 3rem;
}

.active {
  background-color: blue; /* Vous pouvez ajuster la taille et la couleur du contour ici */
}

.new-columnParts {
  width: 37.8vw;
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

.inner-div {
  height: 34vh;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
}

.inner-div .inner-div-arrow {
  text-align: center;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.inner-div-arrow {
  width: 10vw;
}

.center{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.video-stream {
  width: auto;
  height: 100vh;
}

.overlay-text-left {
  transform: translate(23%, 0%);
  position: absolute;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

.overlay-text-keep {
  transform: translate(130%, -400%);
  position: absolute;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
}

.overlay-text-keep-save{
  position: absolute;
  transform: translate(20%, 20%);
  font-size: 12rem;
  }
  
.overlay-text-keep-cancel{
  position: absolute;
  transform: translate(180%, 20%);
  font-size: 12rem;
}

.countdown-display {
  transform: translate(530%, -5%);
  position: absolute;
  font-size: 8rem;
  color: white;
  z-index: 1000;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hidden {
  display: none;
}

.white-overlay {
  position: absolute; /* Change de relative à absolute */
  top: 0;
  left: 0;
  width: 63.1vw;
  height: 100%;
  background-color: white;
  opacity: 0;
  transition: opacity 0.5s;
  z-index: 999;
}

.white-overlay.active {
  opacity: 1;
}

.captured-image {
  width: auto;
  height: 100vh;
}

.captured-image-cadre {
  width: 100%;
  height: 50vh;
  position: absolute;
  bottom: 0;
}

.save-button,
.cancel-button {
  position: absolute;
  color: white;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #007bff;
}

.cancel-button {
  background-color: #dc3545;
}

.email-form {
  display: flex;
  flex-direction: row;
  margin: 20px;
}

.email-form input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-button {
  width: 200px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  margin-left: 5%;
}