.num-pad-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1001;
    pointer-events: all;
  }
  
  .num-pad {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .code-input {
    font-size: 2rem;
    margin-bottom: 10px;
    width: 200px;
    text-align: center;
  }
  
  .num-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .num-pad button {
    margin: 5px;
    padding: 50px 50px;
    font-size: 1.5rem;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .num-pad input {
    margin: 5px;
    padding: 50px 50px;
    font-size: 1.5rem;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .num-buttons button:hover {
    background-color: #0056b3;
  }
